@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", system-ui, sans-serif;
    --font-museo: "MuseoModerno", system-ui, sans-serif;
    --font-play: "Playfair Display", system-ui, sans-serif;
}

.menu_opcao {
    @apply text-[#F5F5F5] font-roboto
}

.contentor_btns {
    @apply border border-[#212121] rounded-full py-1.5 px-2.5 flex gap-2
}

.contentor_btns_menu {
    @apply hidden md:flex
}

.btn {
    @apply bg-[#49D40E] rounded-full px-3.5 py-0.5 text-[#F5F5F5] font-medium font-roboto shadow-[0_0_15px_#49D40E] border border-[#49D40E] cursor-pointer
}

.btn_secundario {
    @apply border-[#212121] bg-transparent shadow-none
}

.linha_bar {
    @apply bg-[#F5F5F5] h-[3px] w-10 rounded-full nth-[1]:w-5 nth-[2]:w-8
}

.texto_colorido {
    @apply text-[#49D40E]
}